.wy-nav-content {
    max-width: none;
}

th {background-color: lightblue;}
tr {background-color: lightgrey;}
table, th, td {
  border: 1px solid;
}
table tr:nth-child(even) td {
  background: lightgrey;
}